 .menu {
     display: none;
     border: none;
     cursor: pointer;

     @media (max-width: 640px) {
         display: block;
         width: 40px;
         height: 40px;
         background-color: var(--color-bg);
         border-radius: 12px;

     }
 }